* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Overpass', 'Roboto', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
}
.header {
  position: relative;
  height: 60px;
  padding: 10px;
  color: #fff;
  z-index: 10000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 15px;
}
.header__btn:hover {
  background-color: #fff;
  color: black;
}

.flag {
  position: absolute;
  right: 5.7%;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: 300;
}
.flag-img {
  filter: invert(1);

  width: 100%;
}
.car-buttons {
  display: flex;
  align-items: center;
}
.car-title {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.car-btn {
  border-radius: 16px;
  border-style: dotted;
  margin-right: 10px;
  transition: all .3s;
}
.car-select-btn {
  color: rgba(0, 152, 0, 0.577);
  border-color: rgba(0, 152, 0, 0.577);
}
.car-select-btn:hover {
  color: rgb(0, 152, 0);
  border-color: rgb(0, 152, 0);
}
.car-select-btn:focus {
  color: rgb(0, 152, 0);
  border-color: rgb(0, 152, 0);
}
.car-remove-btn {
  color: rgba(255, 0, 0, 0.607);
  border-color: rgba(255, 0, 0, 0.607);
}
.car-remove-btn:hover {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}
.car-wrapper {
  display: flex;
  position: relative;
  border-bottom: 2px dashed #fff;
}
.car-control {
  padding: 10px 0px;
  width: 6%;
}
.car-full-road {
  width: 87%;
  position: relative;
}
.car {
  position: absolute;
  left: 0%;
  bottom: -33px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.footer__github-logo {
  width: 60px;
  height: 60px;
  opacity: 0.8;
  transform: rotate(-30deg);
  transition: all .4s;
}
.footer__github-logo:hover {
  transform: rotate(0deg);
  opacity: 1;
}
