* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Overpass', 'Roboto', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
}
@keyframes drive {
  from {
      left: 0%;
  } to {
      left: 100%;
  }
}
.header {
  position: relative;
  height: 60px;
  padding: 10px;
  color: #fff;
  z-index: 10000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 15px;
}
.header__btn:hover {
  background-color: #fff;
  color: #000;
}

button {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  border: 2px solid white;
  cursor: pointer;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  transition: opacity .3s;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid #ffffff;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid #ffffff;
}
input[type="color"]:disabled {
  opacity: 0.7;
}
.form {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="text"] {
  all: unset;
  color: white;
  padding: 5px 10px;
  background-color: transparent;
  border-bottom: 1px solid white;
  transition: opacity .3s;
}
input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.663);
}
input[type="text"]:disabled {
  opacity: 0.7;
}

.flag {
  position: absolute;
  right: 5.7%;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: 300;
}
.flag-img {
  filter: invert(1);

  width: 100%;
}
.car-buttons {
  display: flex;
  align-items: center;
}
.car-title {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}
.car-btn {
  border-radius: 16px;
  border-style: dotted;
  margin-right: 10px;
  transition: all .3s;
}
.car-select-btn {
  color: rgba(0, 152, 0, 0.577);
  border-color: rgba(0, 152, 0, 0.577);
}
.car-select-btn:hover {
  color: rgb(0, 152, 0);
  border-color: rgb(0, 152, 0);
}
.car-select-btn:focus {
  color: rgb(0, 152, 0);
  border-color: rgb(0, 152, 0);
}
.car-delete-btn {
  color: rgba(255, 0, 0, 0.607);
  border-color: rgba(255, 0, 0, 0.607);
}
.car-delete-btn:hover {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}
.car-start-btn {
  border: 2px dashed green;
  color: green;
}
.car-start-btn:hover {
  border: 2px dashed rgb(119, 67, 118);
  color: rgb(119, 67, 118);
}

.car-stop-btn {
  border: 2px dashed red;
  color: red;
}
.car-stop-btn:hover {
  border: 2px dashed rgb(159, 0, 0);
  color: rgb(159, 0, 0);
}
.create-btn, .update-btn  {
  border-radius: 16px;
  transition: .3s;
}
.create-btn:hover, .update-btn:hover  {
  border-radius: 16px;
  background-color: #fff;
  color: #000;
}
.car-wrapper {
  position: relative;
  display: flex;
  border-bottom: 2px dashed #fff;
}
.car-control {
  padding: 10px 0px;
  width: 6%;
}
.car-full-road {
  width: 87%;
  position: relative;
}
.car {
  position: absolute;
  left: 0%;
  bottom: -33px;
}
.animation-car {
  animation-name: drive;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-play-state: running;
}

.pagination {
  padding: 10px;
}
.pagination-btn {
  border: none;
  margin-right: 10px;
  border-bottom: 3px solid #fff;
}
.pagination-btn:disabled {
  color: rgb(128, 128, 128);
  border-color: rgb(128, 128, 128);
}
.empty-garage {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}
.car-item {
  margin: 10px 0px 20px 0px;
}

.garage {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 50vh;
}
.garage-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border-radius: 16px;
}
.num-of-cars,
.page {
  margin-left: 10px;
}
.num-of-cars {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}
.btn {
  border-radius: 16px;
  transition: all .3s;
}
.btn:disabled {
  color: #fff;
  border: 2px solid #fff;
  background-color: rgb(128, 128, 128);
}
.btn:disabled:hover {
  border: 2px solid #fff;
  background-color: rgb(99, 99, 99);
}
.control-panel {
  margin-top: 15px;
}
.race-btn {
  color: rgb(0, 151, 0);
  border: 2px solid rgb(0, 151, 0);
}
.race-btn:hover {
  color: #fff;
  border: 2px solid rgb(0, 120, 0);
  background-color: rgb(0, 120, 0);
}
.reset-btn {
  color: rgb(190, 0, 0);
  border: 2px solid rgb(190, 0, 0);
}
.reset-btn:hover {
  color: #fff;
  border: 2px solid rgb(144, 0, 0);
  background-color: rgb(144, 0, 0);
}
.generate-btn {
  color: rgb(255, 255, 0);
  border: 2px solid rgb(255, 255, 0);
}
.generate-btn:hover {
  color: #000;
  border: 2px solid rgb(255, 255, 0);
  background-color: rgb(255, 255, 0);
}

.modal-message {
  display: none;
  justify-self: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.711);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  overflow: hidden;
}
.modal-message-container {
  margin: 0 auto;
  color: rgb(255, 255, 0);
}
.winners {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  background: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  display: none;
}
.winners.active {
  display: block;
}
.winners-btn.active {
  background-color: #fff;
  color: #000;
}
.winner-reset {
  border-radius: 16px;
  border: 2px dashed rgb(255, 255, 0);
  color: rgb(255, 255, 0);
}
.winner-reset:hover {
  border-color: rgb(203, 203, 0);
  color: rgb(203, 203, 0);
}

.winner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  color: #fff;
}
.winner-title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
}

.winner-table {
  width: 90%;
}
.winner-table,
.winner-table__th,
.winner-table__td {
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-collapse: collapse;
}
.winner-sort, .id-sort, .time-sort {
  cursor: pointer;
  transition: .4s;
}
.winner-sort:hover, .id-sort:hover, .time-sort:hover {
  background-color: #fff;
  color: #000;
}
.table-buttons {
  display: flex;
  align-items: center;
}
.table-buttons__button {
  border-radius: 16px;
  border-style: dashed;
  margin: 15px 20px;
  transition: .4s;
}
.table-buttons__button:hover {
  background-color: white;
  color: #000;
}
.table-buttons__button:disabled {
  color: rgb(128, 128, 128);
  border-color: rgb(128, 128, 128);
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.footer__github-logo {
  width: 60px;
  height: 60px;
  opacity: 0.8;
  transform: rotate(-30deg);
  transition: all .4s;
}
.footer__github-logo:hover {
  transform: rotate(0deg);
  opacity: 1;
}
